*{
    box-sizing: border-box;
}
body{
    background-color: rgb(33,33,33);
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.titleState{
    text-align: center;
}
.sectionStateDiv .bold{
    font-weight: bold;
}.main-content{
    padding: 10px;
    flex-grow: 1;
}
.sectionStateDiv p{
    font-size: 15px;
}
.sectionStateDiv li{
    font-size: 15px;
}
footer{
    font-family: 'Times New Roman', Times, serif;
}