/* Body */

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* Header */

.header {
  position: fixed;
  text-align: center;
  width: 100%;
  font-family: monospace;
}

.img {
  width: 85px;
  margin: 0px 0px;
}

.nav-one {
  display: inline-block;
  text-align: center;
  z-index: 21;
}

.nav-two {
  display: inline-block;
  margin: 20px 0%;
  text-align: center;
  top: 20px;
}

.ul a {
  color: white;
  font-family: monospace;
  font-size: 20px;
  padding: 0px 15px;
  position: relative;
  text-decoration: none;
}

.ul a:hover {
  color: white;
}

.ul a::before {
  content: "";
  position: absolute;
  display: block;
  width: 85%;
  height: 2px;
  bottom: 0;
  left: 8%;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.ul a:hover::before {
  transform: scaleX(1);
}

@media only screen and (min-width: 0px) 
and (max-width: 812px){
.ul {
  display: none;
  visibility: hidden !important;
  width: 450px;
  margin: 0px;
  padding: 0px;
  }
}

/* Background Page */

.bg-page-one {
  display: block;
  background: url(images/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  height: 100vh;
  z-index: -10;
}

.bg-page-two {
  display: block;
  background: url(images/bg2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  height: 100vh;
  z-index: -10;
}

.bg-page-three {
  display: block;
  background: url(images/bg3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  height: 100vh;
  z-index: -10;
}

.bg-page-four {
  display: block;
  background: url(images/bg4.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  height: 100vh;
  z-index: -10;
}

/* wider screen */

@media only screen and (min-width: 1021px) 
and (max-width: 1281px){
  .bg-page-one {
    background: url(images/bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    height: 850px;
  }
}

@media only screen and (min-width: 1021px) 
and (max-width: 1281px){
  .bg-page-two {
    background: url(images/bg2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    height: 850px;
  }
}

@media only screen and (min-width: 1021px) 
and (max-width: 1281px){
  .bg-page-three {
    background: url(images/bg3.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    height: 850px;
  }
}

@media only screen and (min-width: 1021px) 
and (max-width: 1281px){
  .bg-page-four {
    background: url(images/bg4.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    height: 850px;
  }
}


/* First Page */
.page-one {
  position: relative;
  width: 100%;
  z-index: 10;
}

.page-one-head {
  text-indent: -9999px;
  margin: 0px;
}

.page-one-h1 {
  position: absolute;
  top: 610px;
  left: 305px;
  font-family: monospace;
  word-spacing: -10px;
  font-size: 50px;
  color: white;
  vertical-align: top;
}

.page-one-btn div {
  position: absolute;
  top: 725px;
  left: 305px;
  width: 149px;
  padding: 18px 0px;
  font-family: monospace;
  font-weight: bold;
  color: white;
  outline: 2px white solid;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  transition: background-color 2s ease-out 100ms;
  transition: color 2s ease-out 100ms;
}

.page-one-btn div:hover {
  background-color: white;
  color: black;
}

/* Page one screen gets smaller */
@media only screen and (min-width: 0px) 
and (max-width: 812px){
.page-one-h1 {
  position: absolute;
  top: 420px;
  left: 20px;
  font-family: monospace;
  word-spacing: -10px;
  font-size: 50px;
  color: white;
  vertical-align: top;
}
}

@media only screen and (min-width: 0px) 
and (max-width: 812px){
.page-one-btn div {
  position: absolute;
  top: 545px;
  left: 20px;
  width: 149px;
  font-family: monospace;
  font-weight: bold;
  color: white;
  outline: 2px white solid;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  transition: background-color 2s ease-out 100ms;
  transition: color 2s ease-out 100ms;
}
}

/* page two */

.page-two {
  position: relative;
  width: 100%;
  z-index: 10;
}

.page-two-head {
  text-indent: -9999px;
  margin: 0px;
}

.page-two-h1 {
  position: absolute;
  top: 610px;
  left: 305px;
  font-family: monospace;
  word-spacing: -10px;
  font-size: 50px;
  color: white;
  vertical-align: top;
}

.page-two-btn div {
  position: absolute;
  top: 725px;
  left: 305px;
  width: 149px;
  padding: 18px 0px;
  font-family: monospace;
  font-weight: bold;
  color: white;
  outline: 2px white solid;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  transition: background-color 2s ease-out 100ms;
  transition: color 2s ease-out 100ms;
}

.page-two-btn div:hover {
  background-color: white;
  color:black
}

/* Page two screen gets smaller */
@media only screen and (min-width: 0px) 
and (max-width: 812px){
.page-two-h1 {
  display: block;
  top: 420px;
  left: 20px;
  font-family: monospace;
  word-spacing: -10px;
  font-size: 50px;
  color: white;
}
}

@media only screen and (min-width: 0px) 
and (max-width: 812px){
.page-two-btn div {
  display: block;
  top: 545px;
  left: 20px;
  width: 149px;
  font-family: monospace;
  font-weight: bold;
  color: white;
  outline: 2px white solid;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  transition: background-color 2s ease-out 100ms;
  transition: color 2s ease-out 100ms;
}
}

/* page three */

.page-three {
  position: relative;
  width: 100%;
  z-index: 10;
}

.page-three-head {
  text-indent: -9999px;
  margin: 0px;
}

.page-three-h1 {
  position: absolute;
  top: 610px;
  left: 305px;
  font-family: monospace;
  word-spacing: -10px;
  font-size: 50px;
  color: white;
  vertical-align: top;
}

.page-three-btn div {
  position: absolute;
  top: 725px;
  left: 305px;
  width: 149px;
  padding: 18px 0px;
  font-family: monospace;
  font-weight: bold;
  color: white;
  outline: 2px white solid;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  transition: background-color 2s ease-out 100ms;
  transition: color 2s ease-out 100ms;
}

.page-three-btn div:hover {
  background-color: white;
  color:black
}

/* Page three screen gets smaller */
@media only screen and (min-width: 0px) 
and (max-width: 812px){
.page-three-h1 {
  position: absolute;
  top: 420px;
  left: 20px;
  font-family: monospace;
  word-spacing: -10px;
  font-size: 50px;
  color: white;
  vertical-align: top;
}
}

@media only screen and (min-width: 0px) 
and (max-width: 812px){
.page-three-btn div {
  position: absolute;
  top: 545px;
  left: 20px;
  width: 149px;
  font-family: monospace;
  font-weight: bold;
  color: white;
  outline: 2px white solid;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  transition: background-color 2s ease-out 100ms;
  transition: color 2s ease-out 100ms;
}
}

/* page four */

.page-four {
  position: relative;
  width: 100%;
  z-index: 10;
}

.page-four-head {
  text-indent: -9999px;
  margin: 0px;
}

.page-four-h1 {
  position: absolute;
  top: 620px;
  left: 305px;
  font-family: monospace;
  word-spacing: -10px;
  font-size: 50px;
  color: white;
  vertical-align: top;
}

.page-four-btn div {
  position: absolute;
  top: 725px;
  left: 305px;
  width: 149px;
  padding: 18px 0px;
  font-family: monospace;
  font-weight: bold;
  color: white;
  outline: 2px white solid;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  transition: background-color 2s ease-out 100ms;
  transition: color 2s ease-out 100ms;
}

.page-four-btn div:hover {
  background-color: white;
  color:black
}

/* Page four screen gets smaller */
@media only screen and (min-width: 0px) 
and (max-width: 812px){
.page-four-h1 {
  position: absolute;
  top: 420px;
  left: 20px;
  font-family: monospace;
  word-spacing: -10px;
  font-size: 50px;
  color: white;
  vertical-align: top;
}
}

@media only screen and (min-width: 0px) 
and (max-width: 812px){
.page-four-btn div {
  position: absolute;
  top: 545px;
  left: 20px;
  width: 149px;
  font-family: monospace;
  font-weight: bold;
  color: white;
  outline: 2px white solid;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  transition: background-color 2s ease-out 100ms;
  transition: color 2s ease-out 100ms;
}
}

/* Dropdown Button */
.dropbtn {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 30px 50px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#hambuger {
  width: 15px;
  height: 13px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgba(72, 76, 78, 0);
}

.dropdown {
  position: fixed;
  display: inline-block;
  right: 0;
  margin: 15px 0%;
  font-family: monospace;
  font-size: 18px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  min-width: 160px;
  z-index: 1;
  margin: 0px -80px;
  height: 300vh;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 30px 15px;
  text-decoration: none;
  display: block;
  margin: -40px 0px;
  text-align: right;
}

.dropdown-content a:hover {
  color: #919191;
}

.line {
  position: absolute;
  width: 155px;
  margin: 20px -10px;
}

.show {
  display:block;
}