body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 200vh;
}

/* header */

.header {
  position: fixed;
  text-align: center;
  width: 100%;
  font-family: monospace;
}

.img {
  width: 85px;
  margin: 0px 0;
}

.nav-one {
  display: inline-block;
  text-align: center;
}

.nav-two {
  display: inline-block;
  margin: 20px 0%;
  text-align: center;
  top: 20px;
  word-spacing: 35px;
}

@media only screen and (min-width: 375px) 
and (max-width: 812px){
.ul {
  display: none;
  visibility: hidden !important;
  width: 450px;
  margin: 0px;
  padding: 0px;
  }
}

.li {
  color: white;
  font-family: monospace;
  font-size: 20px;
}

/* Pages */

.background {
  width: 100%;
  height: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg-two {
  background-image: url("images/bg2.jpg");
}

/* First Page */

.page-one {
  height: 100vh;
  width: 100%;
  background-image: url("images/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-one-info {
  position: relative;
  top: 640px;
  left: 31.5vh;
  width: 190px;
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 19px;
  letter-spacing: 2px;
  color: white;
  float: initial;
  margin: 0px;
}

.page-one-h1 {
  position: relative;
  top: 600px;
  left: 31.5vh;
  width: 380px;
  font-family: monospace;
  word-spacing: -10px;
  font-size: 50px;
  color: white;
}

.page-one-btn div {
  display: inline-block;
  position: relative;
  top: 585px;
  left: 32vh;
  width: 149px;
  padding: 18px 0px;
  font-family: monospace;
  font-weight: bold;
  color: white;
  outline: 2px white solid;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  transition: background-color 2s ease-out 100ms;
  transition: color 2s ease-out 100ms;
  min-width: 130px;
}

.page-one-btn div:hover {
  background-color: white;
  color:black
}